METRICS_PORT=9300
METRICS_INTERVAL_MS=1000

PLAN_BASE_URL=http://veynarsmp.my.id:25621
PLAN_METRICS_ENDPOINT=
PLAN_AUTH_TOKEN=
PLAN_SERVER_UUID=a36977ad-71fd-4225-9cae-efcfbe82bf8d
PLAN_TIMEOUT_MS=5000
